#Header {
  flex: 2 1 100px;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #1C75BC;
}

#NavBar {
  flex: 0 1 60px;
  background-color: #FBB040;
}

#Body {
  flex: 6 2 400px;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: #f9fbfb;
}

#Footer {
  flex: 1 1 80px;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: #1C75BC;
}

.temp-border {
  border: 2px solid #000;
}

.home-layout {
  min-height: 100vh;
}

.banner .title, .banner .image {
  display: flex;
}

.banner .title {
  justify-content: flex-start;
  align-items: center;
}

.banner .image {
  justify-content: center;
  align-items: center;
}

.banner img {
  height: 140px;
}

.banner h1 {
  color:#fff;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.profile-picture {
  height: 200px;
  width: 200px;
}