#Header {
  flex: 1 1 100px;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #1C75BC;
}

#NavBar {
  flex: 0 1 60px;
  background-color: #FBB040;
}

#Body {
  flex: 4 2 500px;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

#Footer {
  flex: 1 1 100px;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: #1C75BC;
}

.temp-border {
  border: 2px solid #000;
}

.home-layout {
  min-height: 100vh;
}
