#Header {
  flex: 1 1 100px;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #1C75BC;
  /* min-height: 100px; */
}

#NavBar {
  flex: 0 1 60px;
  background-color: #FBB040;
  /* min-height: 60px; */
}

#Body {
  flex: 4 2 500px;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

#Footer {
  flex: 1 1 100px;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  background-color: #1C75BC;
}

.temp-border {
  border: 2px solid #000;
}

.home-layout {
  min-height: 100vh;
}



/* import 'bootstrap/dist/css/bootstrap.min.css'; */


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */